<div class="todoList bg-info">
    <h1>Contenidos FIS 120  </h1>
    <div class="item" ng-repeat="tarea in tareas " ng-show="$last">

        <h2 class="glyphicon glyphicon-flash"  ng-show="$last" ng-click="perf()">Carga eléctrica y campo eléctrico. Ley de Coulomb. El campo eléctrico. Ley de Gauss.</h2>
        <h2  class="glyphicon glyphicon-flash"  ng-show="$last" ng-click="perf()">Potencial eléctrico. Relación entre campo eléctrico y potencial.</h2>        
        <h2  class="glyphicon glyphicon-flash"  ng-show="$last" ng-click="perf()">Condensadores y dieléctricos. Capacidad.</h2>
        <h2  class="glyphicon glyphicon-flash"  ng-show="$last" ng-click="perf()">Corrientes eléctricas estacionarias. Densidad de corriente. Resistencia. Ley de Ohm. Circuitos eléctricos simples.</h2>
        
        <h2  class="glyphicon glyphicon-flash"  ng-show="$last" ng-click="perf()">Campos magnéticos estacionarios: Campo magnético. Fuerza sobre una corriente. Ley de Ampère. Ley de Biot-Savart.</h2>
        
        <h2  class="glyphicon glyphicon-flash"  ng-show="$last" ng-click="perf()">Inducción electromagnética. Ley de Faraday. Campos magnéticos variables. Inductancia. Circuitos LRC.</h2>
        
        <h2  class="glyphicon glyphicon-flash"  ng-show="$last" ng-click="perf()">Propiedades magnéticas de la materia. Dipolos. Magnetismo.</h2>
        
        <h2  class="glyphicon glyphicon-flash"  ng-show="$last" ng-click="perf()">Oscilaciones electromagnéticas. Cavidades. Descripción de ondas electromagnéticas.</h2>
        </div>
<div>
    <a ui-sref="perfi">Regresar</a>
</div>
</div>
