<div class="todoList bg-info">
    <h1>Cursos </h1>
    <center>
    <div class="item" ng-repeat="tarea in tareas " ng-show="$last">

        <h2  ng-show="$last" ng-click="curso()">Mate I</h2>
        <h2  ng-show="$last" ng-click="curso()">Mate II</h2>        
        <h2  ng-show="$last" ng-click="curso()">Mate III</h2>
        <h2  ng-show="$last" ng-click="curso()">Mate IV</h2>
        
        <h2  ng-show="$last" ng-click="curso()">Fis 100</h2>
        
        <h2  ng-show="$last" ng-click="curso()">Fis 110</h2>
        
        <h2  ng-show="$last" ng-click="curso()">Fis 120</h2>
        
        <h2  ng-show="$last" ng-click="curso()">Fis 130</h2>
        
        <h2  ng-show="$last" ng-click="curso()">Fis 140</h2>
    </div>
   </center> 
<div>
    <a ui-sref="cursoi">Regresar</a>
</div>
</div>
