<div class="container col-md-9 col-md-offset-2">
    <ui-view>
    <form>
    <h3>Edita tu perfil</h3>
    <div class="has-feedback">
        <input type="text" class="form-control" placeholder="Nombre" ng-model="tarea.nombre" value="{{tarea.nombre}}"> </input>
        <input type="text" class="form-control" placeholder="Username" ng-model="tarea.username" value="{{tarea.username}}"> </input>
        <input type="text" class="form-control" placeholder="Email" ng-model="tarea.email" value="{{tarea.email}}"> </input>
        <input type="password" class="form-control" placeholder="Contraseña" ng-model="tarea.password" value="{{tarea.password}}"> </input>
    </div>
    <div class="text-center editBtn">
        <button class="btn btn-success btn-sm" ng-click="actualizar()">Actualizar</button>
        <button class="btn btn-danger btn-sm" ng-click="eliminar()">Eliminar</button>
    </div>
</form>
<div>
    <a ui-sref="perfil">Regresar</a>
</div>
</ui-view>
</div>