 <div class="container col-md-9 col-md-offset-2">
        <ui-view>

    	<span class="badge" >{{person.nombre}}</span>
<form>
    <h3>Encuesta</h3>

    <div>
        <span class="lead prioridad">1.Cuando aprendo...</span>
        <ul>
            <li>Me gusta vivir sensasiones<select class="form-control" id="exampleSelect1" style = 'vertical-align:middle;'>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              
            </select></li> 
            <li>Me gusta pensar sobre ideas<select class="form-control" id="exampleSelect1" style = 'vertical-align:middle;'>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              
            </select></li>
            <li>Me gusta estar haciendo cosas<select class="form-control" id="exampleSelect1" style = 'vertical-align:middle;'>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              
            </select></li>
            <li>me gusta observar y escuchar<select class="form-control" id="exampleSelect1" style = 'vertical-align:middle;'>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              
            </select></li>
     </ul>
        </div>
    <hr>
    <div>
        <span class="lead prioridad">2.Aprendo mejor cuando...</span>
         <ul><li>escucho y observo cuidadosamente<select class="form-control" id="exampleSelect1" style = 'vertical-align:middle;'>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              
            </select></li>
         <li>confio en el pensamiento lógico<select class="form-control" id="exampleSelect1" style = 'vertical-align:middle;'>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              
            </select></li>
         <li>confio en mi intuición y sentimientos<select class="form-control" id="exampleSelect1" style = 'vertical-align:middle;'>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              
            </select></li>
         <li>trabajo duro para lograr hacer las cosas<select class="form-control" id="exampleSelect1" style = 'vertical-align:middle;'>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              
            </select></li>
     </ul>
        </div>
    <hr>
    <div>
        <span class="lead prioridad">3.Cuando estoy aprendiendo...</span>
         <ul><li>tiendo a usar el razonamiento<select class="form-control" id="exampleSelect1" style = 'vertical-align:middle;'>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              
            </select></li>
         <li>soy responsable con lo que hago<select class="form-control" id="exampleSelect1" style = 'vertical-align:middle;'>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              
            </select></li>
         <li>soy callado y reservado<select class="form-control" id="exampleSelect1" style = 'vertical-align:middle;'>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              
            </select></li>
         <li>tengo fuertes sensaciones y reacciones<select class="form-control" id="exampleSelect1" style = 'vertical-align:middle;'>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              
            </select></li>
     </ul>
        </div>
    <hr>
    <div>
        <span class="lead prioridad">4.Yo aprendo...</span>
         <ul><li>sintiendo<select class="form-control" id="exampleSelect1" style = 'vertical-align:middle;'>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              
            </select></li>
         <li>haciendo<select class="form-control" id="exampleSelect1" style = 'vertical-align:middle;'>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              
            </select></li>
         <li>observando<select class="form-control" id="exampleSelect1" style = 'vertical-align:middle;'>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              
            </select></li>
         <li>pensando<select class="form-control" id="exampleSelect1" style = 'vertical-align:middle;'>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              
            </select></li>
     </ul>
        
    </div>
    <hr>
    <div>
        <span class="lead prioridad">5.Cuando aprendo</span>
         <ul><li>estoy abierto a nuevas experiencias<select class="form-control" id="exampleSelect1" style = 'vertical-align:middle;'>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              
            </select></li>
         <li>observo todos los aspectos del asunto<select class="form-control" id="exampleSelect1" style = 'vertical-align:middle;'>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              
            </select></li>
         <li>me gusta analizar las cosas, descomonerlas en sus partes<select class="form-control" id="exampleSelect1" style = 'vertical-align:middle;'>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              
            </select></li>
         <li>me gusta probar e intentar hacer las cosas<select class="form-control" id="exampleSelect1" style = 'vertical-align:middle;'>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              
            </select></li>
     </ul>
        
    </div>
    <hr>
    <div>
        <span class="lead prioridad">6.Cuando estoy aprendiendo...</span>
         <ul><li>soy una persona observadora<select class="form-control" id="exampleSelect1" style = 'vertical-align:middle;'>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              
            </select></li>
         <li>soy una persona activa<select class="form-control" id="exampleSelect1" style = 'vertical-align:middle;'>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              
            </select></li>
         <li>soy una persona intuitiva<select class="form-control" id="exampleSelect1" style = 'vertical-align:middle;'>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              
            </select></li>
         <li>soy una persona lógica<select class="form-control" id="exampleSelect1" style = 'vertical-align:middle;'>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              
            </select></li>
     </ul>
         
   	</div>
   	<hr>
    <div>
        <span class="lead prioridad">7.Yo aprendo mejor de</span>
        <ul><li>la observación<select class="form-control" id="exampleSelect1" style = 'vertical-align:middle;'>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              
            </select></li> 
        <li>la relación con otras personas<select class="form-control" id="exampleSelect1" style = 'vertical-align:middle;'>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              
            </select></li> 
        <li>las teorías raiconales<select class="form-control" id="exampleSelect1" style = 'vertical-align:middle;'>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              
            </select></li> 
        <li>la oportunidad de probar y prácticar<select class="form-control" id="exampleSelect1" style = 'vertical-align:middle;'>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              
            </select></li> 
    </ul>
        
    </div>
    <hr>
    <div>
        <span class="lead prioridad">8.Cuando aprendo...</span>
        <ul><li>me gusta ver los resultados de mi trabajo<select class="form-control" id="exampleSelect1" style = 'vertical-align:middle;'>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              
            </select></li> 
        <li>me gustan las ideas y las teorías<select class="form-control" id="exampleSelect1" style = 'vertical-align:middle;'>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              
            </select></li> 
        <li>me tomo mi tiempo antes de actuar<select class="form-control" id="exampleSelect1" style = 'vertical-align:middle;'>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              
            </select></li> 
        <li>me siento personalmente involucrado en las cosas<select class="form-control" id="exampleSelect1" style = 'vertical-align:middle;'>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              
            </select></li>
        </ul> 

    </div>
    <hr>
    <div>
        <span class="lead prioridad">9.Aprendo mejor cuando...</span>
        <ul><li>confio en mis observaciones<select class="form-control" id="exampleSelect1" style = 'vertical-align:middle;'>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              
            </select></li>
        <li>confio en mis sentimientos<select class="form-control" id="exampleSelect1" style = 'vertical-align:middle;'>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              
            </select></li>
        <li> puedo probar por mi cuenta<select class="form-control" id="exampleSelect1" style = 'vertical-align:middle;'>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              
            </select></li>
        <li>confio en mis ideas<select class="form-control" id="exampleSelect1" style = 'vertical-align:middle;'>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              
            </select></li> 
    </ul>

    </div>
    <hr>
    <div>
        <span class="lead prioridad">10.Cuando estoy aprendiendo...</span>
        <ul><li>soy una persona reservada<select class="form-control" id="exampleSelect1" style = 'vertical-align:middle;'>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              
            </select></li> 
        <li> soy una persona receptiva<select class="form-control" id="exampleSelect1" style = 'vertical-align:middle;'>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              
            </select></li>
        <li>soy una persona responsable<select class="form-control" id="exampleSelect1" style = 'vertical-align:middle;'>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              
            </select></li> 
        <li>soy una persona racional<select class="form-control" id="exampleSelect1" style = 'vertical-align:middle;'>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              
            </select></li> 
    </ul>
      
    </div>
    <hr>
    <div>
        <span class="lead prioridad">11.Cuando aprendo...</span>
        <ul><li>me involucro<select class="form-control" id="exampleSelect1" style = 'vertical-align:middle;'>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              
            </select></li> 
        <li>me gusta observar<select class="form-control" id="exampleSelect1" style = 'vertical-align:middle;'>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              
            </select></li> 
        <li> evalúo las cosas<select class="form-control" id="exampleSelect1" style = 'vertical-align:middle;'>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              
            </select></li>
        <li>me gusta ser activo<select class="form-control" id="exampleSelect1" style = 'vertical-align:middle;'>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              
            </select></li> 
    </ul>

    </div>
    <hr>
    <div>
        <span class="lead prioridad">12.Aprendo mejor cuando...</span>
        <ul><li> manalizo ideas<select class="form-control" id="exampleSelect1" style = 'vertical-align:middle;'>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              
            </select></li>
        <li> soy receptivo y abierto<select class="form-control" id="exampleSelect1" style = 'vertical-align:middle;'>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              
            </select></li>
        <li> soy cuidadoso<select class="form-control" id="exampleSelect1" style = 'vertical-align:middle;'>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              
            </select></li>
        <li>soy práctico<select class="form-control" id="exampleSelect1" style = 'vertical-align:middle;'>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              
            </select></li> 
    </ul>
    </div>
    <hr>
    <div class="text-center editBtn">
        <button class="btn btn-success btn-sm" ng-click="calcular_estilo(person)">Enviar encuesta</button>
    </div>
</form>
</div>

<div>
    <a ui-sref="perfil">Regresar</a>
</ui-view>
    </div>


