<html>

<head>
    <meta charset="utf-8" />
    <title>Ada System</title>
      <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
     <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="javascripts/appAngular.js"></script>
</head>

<body ng-app="appPersons">
    <div class="header-content">
        <center>
        <h1>Ada
            <img src="./Images/ada_project.jpg" alt="Mountain View" style="width:200px;height:200px; vertical-align:middle;"> Learning</h1>
        </center>
    </div>

        <ui-view></ui-view>

</body>

</html>
